[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    .tox,
    .eggs,
    *.egg-info,
    BE-stage-02-fastapi-book-project/fastapi,
    BE-stage-02-fastapi-book-project

# Enable flake8 plugins
select = C,E,F,W,B,B950,D
# Use isort for import order checking
isort-show-traceback = true
